# Weekly Passing Analysis

In [39]:
import pandas as pd
import plotly.graph_objects as go
import nfl_data_py as nfl

from src.fantasy_football_v2.data.generate_dataframes.generate_passer_df import generate_passer_df
from src.fantasy_football_v2.data.generate_dataframes.generate_weekly_points_df import generate_weekly_points_df

from src.fantasy_football_v2.utilities.get_stats import get_summary_stats

In [40]:
# Get last year data since we only have last year fantasy points
passer_df = generate_passer_df([2024])
passer_df.shape

(588, 18)

In [41]:
passer_df.head()

,season,week,player_gsis_id,player_display_name,player_position,team_abbr,avg_time_to_throw,aggressiveness,max_completed_air_distance,attempts,pass_yards,pass_touchdowns,interceptions,passer_rating,completions,completion_percentage,avg_air_distance,max_air_distance
4714,2024,0,00-0036355,Justin Herbert,QB,LAC,2.910539,15.873016,51.558840,504,3870,23,3,101.703042,332,65.873016,21.994896,56.048868
4715,2024,0,00-0039918,Caleb Williams,QB,CHI,2.919392,12.099644,57.295033,562,3541,20,6,87.796560,351,62.455516,21.315495,58.660844
4716,2024,0,00-0036389,Jalen Hurts,QB,PHI,3.131300,16.343490,59.287984,361,2903,18,5,103.687673,248,68.698061,21.781763,59.287984
4717,2024,0,00-0034869,Sam Darnold,QB,MIN,3.083395,13.944954,54.327453,545,4319,35,12,102.534404,361,66.238532,22.138207,55.646285
4718,2024,0,00-0029604,Kirk Cousins,QB,ATL,2.708490,19.646799,49.963083,453,3508,18,16,88.617550,303,66.887417,21.189211,54.513717

In [42]:
weekly_points_df = generate_weekly_points_df([2024])
weekly_points_df.head()

Downcasting floats.

,season,week,player_id,player_display_name,recent_team,position,fantasy_points_ppr,game_id
0,2024,1,00-0023459,Aaron Rodgers,NYJ,QB,8.580000,2024_01_NYJ_SF
1,2024,2,00-0023459,Aaron Rodgers,NYJ,QB,15.140000,2024_02_NYJ_TEN
2,2024,3,00-0023459,Aaron Rodgers,NYJ,QB,21.040001,2024_03_NE_NYJ
3,2024,4,00-0023459,Aaron Rodgers,NYJ,QB,11.600000,2024_04_DEN_NYJ
4,2024,5,00-0023459,Aaron Rodgers,NYJ,QB,11.760000,2024_05_NYJ_MIN

In [43]:
# merge fantasy points into passer data
passer_df_pts = passer_df.merge(
    weekly_points_df[[
        'season',
        'week',
        'player_id',
        'fantasy_points_ppr'
    ]],
    left_on=['season', 'week', 'player_gsis_id'],
    right_on=['season', 'week', 'player_id'],
    how='left'
)

passer_df_pts.shape

(588, 20)

In [44]:
passer_df_pts.head()

,season,week,player_gsis_id,player_display_name,player_position,team_abbr,avg_time_to_throw,aggressiveness,max_completed_air_distance,attempts,pass_yards,pass_touchdowns,interceptions,passer_rating,completions,completion_percentage,avg_air_distance,max_air_distance,player_id,fantasy_points_ppr
0,2024,0,00-0036355,Justin Herbert,QB,LAC,2.910539,15.873016,51.558840,504,3870,23,3,101.703042,332,65.873016,21.994896,56.048868,NaN,NaN
1,2024,0,00-0039918,Caleb Williams,QB,CHI,2.919392,12.099644,57.295033,562,3541,20,6,87.796560,351,62.455516,21.315495,58.660844,NaN,NaN
2,2024,0,00-0036389,Jalen Hurts,QB,PHI,3.131300,16.343490,59.287984,361,2903,18,5,103.687673,248,68.698061,21.781763,59.287984,NaN,NaN
3,2024,0,00-0034869,Sam Darnold,QB,MIN,3.083395,13.944954,54.327453,545,4319,35,12,102.534404,361,66.238532,22.138207,55.646285,NaN,NaN
4,2024,0,00-0029604,Kirk Cousins,QB,ATL,2.708490,19.646799,49.963083,453,3508,18,16,88.617550,303,66.887417,21.189211,54.513717,NaN,NaN

In [45]:
passer_df_pts['week'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18])

In [46]:
weekly_points_df['week'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 13, 14, 15, 16, 17, 18,
       12])

In [47]:
df = passer_df_pts[
    (passer_df_pts['season'] == 2024) &
    (passer_df_pts['week'] == 1) &
    (passer_df_pts['player_display_name'] == 'Justin Herbert')
]

df.head()

,season,week,player_gsis_id,player_display_name,player_position,team_abbr,avg_time_to_throw,aggressiveness,max_completed_air_distance,attempts,pass_yards,pass_touchdowns,interceptions,passer_rating,completions,completion_percentage,avg_air_distance,max_air_distance,player_id,fantasy_points_ppr
55,2024,1,00-0036355,Justin Herbert,QB,LAC,2.733231,7.692308,35.247947,26,144,1,0,92.467949,17,65.384615,19.588994,44.140318,00-0036355,10.36

### Average time to throw

In [48]:
summary = pd.DataFrame({
    'stat': ['min', 'mean', 'median', 'max'],
    'avg_time_to_throw': [
        passer_df_pts['avg_time_to_throw'].min(),
        passer_df_pts['avg_time_to_throw'].mean(),
        passer_df_pts['avg_time_to_throw'].median(),
        passer_df_pts['avg_time_to_throw'].max()
    ]
})

summary

     stat  avg_time_to_throw
0     min           2.171622
1    mean           2.814235
2  median           2.799539
3     max           3.778545

In [49]:
get_summary_stats(
    df=passer_df_pts,
    metric='avg_time_to_throw',
    identifiers=['player_display_name', 'week']
)

AttributeError: 'Series' object has no attribute 'meadian'